# Segmenting and Clustering, week 3
### Presented by Md Islam

#### Import libraries

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
print("libraries imported")

libraries imported

#### Getting Data

In [2]:
# Setting url variable to target
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M' 

# Putting table into dataframe
df = pd.read_html(url)[0]

print("Table successfully imported into DataFrame. Here is how it looks.")
df.head()

Table successfully imported into DataFrame. Here is how it looks.

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Cleaning data

In [5]:
# Delete rows where Borough is 'Not assigned'
df = df[df.Borough != "Not assigned"]
df.head(5)

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [11]:
# Combine all neighborhoods where postcode and Borough are the same
df = df.groupby(['Postal Code','Borough'])['Neighborhood'].apply(', '.join).reset_index()

# If neighborhoods is not assigned, replace by borough name
df['Neighborhood'].replace('Not assigned', df["Borough"], inplace=True) 

# Define the dataframe columns
column_names = ['Postal Code','Borough', 'Neighborhood'] 

# Instantiate the dataframe
df.columns = column_names

df.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

#### The final shape of our Dataframe

In [12]:
df.shape

(103, 3)